@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark{
  color: #343434
}

.gray{
  color: #8E8B82;
}

.biege{
  color: #E9DCBE;
}

.light{
  color: #F3F3F3;
}

.font{
  font-family: Arial, Helvetica, sans-serif
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
